.block_wrap {
    max-width: 1000px;
    margin: auto;

}

.text_string_center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.block {
    margin: 100px auto
}

.image_block {
    margin: auto;
    display: flex;
    justify-content: center;

    align-items: center;
}

.block img {
    margin: auto;
}

.bold {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}

@media(max-width: 780px) {
    .image_block {
        width: 600px;
        height: auto;
    }
}

@media(max-width: 610px) {
    .block {
        margin: 50px auto 50px auto
    }

    .image_block {
        width: 90%;
        height: auto;
    }

}